


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 0.5px 1px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 10px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
  }

  .group-members{
    background-color: white;
    flex-direction: column;
  }
    
  
  .team{
    margin-top: 10px;

  }
  
   

  .styled-table {
    border-collapse: collapse;
    margin: 2px 0;
    /*font-size: 0.9em;*/
    font-family: sans-serif;
    width: 100%;
    
}

.styled-table th, .styled-table td {
    padding: 2px 3px;
    font-size: 13px;
}

.styled-table thead .goals-rank {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    
}
.styled-table thead .teams-rank {
    background-color:purple;
    color: #ffffff;
    text-align: left;
}

.styled-table tbody tr {
    border-bottom: 0.5px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

 